.list{
  color:#fff;
  width:300px;

  height:50px;
  margin:20px auto;
  border-radius: 5px;
}
.list p{
  padding:10px;
  position: relative;
}
.list p span{
  position: absolute;
  right:-20px;
  top:20px;
  cursor:pointer;
}
.delete{
  color:#fff;
  background-color: red;
  padding:5px;
  border-radius: 25%;
  font-size: 15px;
}
