body {
  text-align: center;
  background-color: #333;
}

.App-logo {
  height: 40vmin;
}

.App-header {


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
input {
  width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.click{
  width: auto;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.del{
  width: auto;
  background-color: red;
  color: white;
  padding: 5px 18px;
  margin: 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
ul {
  list-style-type: none;
 }
